server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    redis:
      ssl:
        enabled: false

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: playlist-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

playlist:
  jwt:
    cookie:
      secure: false

logging:
  level:
    com.codeit.playlist: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: trace

management:
  info:
    env:
      enabled: true

loadtest:
  user:
    prefix: tester
    count: 50
    password: abcd1234?

cloud:
  aws:
    s3:
      directory: ${AWS_DIRECTORY}
      base-url: ${AWS_BASE_URL}
      access-key-id: ${AWS_ACCESS_KEY_ID}
      secret-key-id: ${AWS_SECRET_KEY_ID}