spring:
  application:
    name: playlist

  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,caches
  endpoint:
    health:
      show-details: always
  observations:
    annotations:
      enabled: true

playlist:
  jwt:
    access-token:
      secret: mySuperSecureSecretKeyForJwtToken1234567890
      #secret: ${JWT_ACCESS_TOKEN_SECRET}
      expiration-ms: 3600000   # 1시간
    refresh-token:
      secret: mySuperSecureSecretKeyForJwtToken1234567899
      # secret: ${JWT_REFRESH_TOKEN_SECRET}
      expiration-ms: 604800000 # 7일

    cookie:
      secrue: ${COOKIE_SECURE:false} # 로컬 개발시에만 false